<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidfung.fivethings">


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Declare the activities
        <activity android:name=".PageTwoActivity" android:label="Page 2"></activity>
        <activity android:name=".PageThreeActivity" android:label="Page 3">></activity>
        <activity android:name=".PageFourActivity"> android:label="Page 4"></activity>
        <activity android:name=".PageFiveActivity"> android:label="Page 5"></activity>
        <activity android:name=".PageSixActivity"> android:label="Page 6"></activity>

    </application>

</manifest>
